.buttons-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure container spans the width of the screen */
    background-color: white; /* Set background color if needed */
    z-index: 1000; /* Ensure the container is above other content */
}

.buttons {
    color: black;
    background-color: white;
    margin: 0.5%;
    margin-top: 3%;
    margin-bottom: 1.5%;
    font-weight: bold;
    font-size: 85%;
    display: inline-block;
}


.buttons:hover {
    cursor: pointer;
    text-decoration: underline;
}

button {
    background-color: white;
    border: none;
}

:root {
    --height-proportion: 100vh*; /* Define a CSS variable for the height proportion */
}

.buttons2 {
    background-color: rgb(76, 170, 200);
    border-radius: 30px;
    width: 10%;
    height: 30px;
    transition: background-color 0.25s; /* Smooth transition for background-color and color */
    color: white;
    font-weight: bold;
    position: fixed;
    right: 0;
    margin-right: 5%; /* Adjust margin as needed */
    margin-top: 2%;
    float: right;
}

.buttons2:hover {
    cursor: pointer;
    background-color: rgb(27, 136, 173);
    box-shadow: 0px 3px 5px rgba(1, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
}

.headingfirstclass {
    margin-top:15%;
}

h1 {
    text-align: center;
    size:40%;
    font-size: 300%;
    margin-bottom: 0;
    margin-top:12%;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Sora", sans-serif;
    font-size: 90%;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-family: Roboto;
    font-weight: 1;
    color: black
}


.FreePromo {
    display:block;
    margin: auto;
    cursor:pointer;
    background-color: rgb(115,79,150);
    transition: background-color 0.25s, color 0.25s; /* Smooth transition for background-color and color */
    color:white;
    border-radius: 30px;
    width: 55%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(115,79,150);
    border: 1%;
    margin-bottom: 10%;
    margin-top: 3%;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 20%;
}

.FreePromo:hover {
    color: rgb(115,79,150);
    background-color: white;
}

#grad {
    height:15%;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(76,170,200,0.3));
    width:100%;
    margin-top: 20%;
    position: absolute;
}

li {
    padding: 0.2%;
    
}

.leftthing {
    padding-left: 8%;
}

.aboutpara {
    text-wrap: left;
    margin-left: 5%;
    text-indent: 5%;
}

.aboutus {
    margin-top:30%;
    margin-left: 5%;
    text-align: left;
}

.aboutimage {
    text-wrap: left;
    position: auto;
    float:right;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Optional: to add space between images */
}

.googleimage {
    width: 20%;
}

.webimage {
    width: 40%;
}

h4 {
    font-size:large;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

.hand {
    width: 50%;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottomimage {
    margin-top:8%;
    margin-bottom: 0;
}